[Unit]
Description=Clive the clipbot

[Service]
EnvironmentFile=/path/to/your/cloned/repo/clive/.env
ExecStart=/usr/bin/node /path/to/your/cloned/repo/clive/src/index.js
Restart=always
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
